
{:aliases {;; Build tools
           ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

           ;; Build executable file
           ;; compiles Clojure code to native byte code using GraalVM and its native-image utlity
           ;; to learn more: https://www.graalvm.org/docs/reference-manual/native-image/
           :build-exe
           {:main-opts ["-m clj.native-image core"
                        ;; "--initialize-at-build-time"
                        "--verbose"
                        ;; "--enable-https"
                        "--no-fallback"
                        ;; "--language:python"
                        "--report-unsupported-elements-at-runtime"]
            :jvm-opts ["-Dclojure.compiler.direct-linking=true"]}
           ;; Build Jar
           :build-jar
           {:main-opts  ["-m" "hf.depstar.jar"]}
           ;; Build Uberjar
           :build-uberjar
           {:main-opts  ["-m" "hf.depstar.uberjar"]}

           ;; Dependency tools
           ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

           ;; Check for outdated dependencies
           :deps-outdated
           {:main-opts  ["-m" "depot.outdated.main"]}
           ;; Update outdated dependencies
           :deps-update
           {:main-opts  ["-m" "depot.outdated.main"
                         "--update"]}



          ;; Generate SVG image of dependency graph in directory called `graphs`
           :deps-graph
           {:extra-deps {thomasa/morpheus
                         {:git/url "https://github.com/benedekfazekas/morpheus.git"
                          :sha     "d3decebc1cb9ef697cd34781f9cf83d44a071e85"}}
            :main-opts  ["-m" "thomasa.morpheus.main"
                         "-d"  "graphs"
                         "-f" "svg"
                         "src" "test"]}

           ;; Deploy tools
           ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

           ;; Lint tools
           ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

           ;;
           :lint-kondo
           {:main-opts  ["-m" "clj-kondo.main"]}
           ;;
           :lint-eastwood
           {:main-opts  ["-m" "eastwood.lint" {:source-paths ["src"]}]}
           ;;
           :lint-kibit
           {:main-opts  ["-m" "kibit-runner.cmdline"]}

           ;; Scaffold tools
           ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

           ;; New project or library
           :new
           {:main-opts ["-m" "clj-new.create"]}


           ;; REPL tools
           ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

           ;; rebel-readline for Clojure
           :rebel
           {:main-opts  ["-m" "rebel-readline.main"]}
           ;; rebel-readline for ClojureScript
           :rebel-cljs
           {:main-opts  ["-m" "rebel-readline-cljs.main"]}

           ;; Test tools
           ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

           ;; clojure.spec.alpha
           :spec
           {}
           ;; clojure.spec.alpha2
           :spec2
           {}

           ;; Performance tools
           ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

           ;; Benchmarking library for Clojure
           ;; https://github.com/hugoduncan/criterium/
           ;; (require '[criterium.core :refer [bench quick-bench]]) ; require criterium
           ;; (bench (adhoc-expression)) ; timing of a self contained expression
           ;;
           ;; (require '[practicalli/namespace-name]) ; require project source code
           ;; (in-ns 'practicalli/namespace-name)
           ;; (quick-bench (project-function args))

           :benchmark
           {:extra-deps {criterium {:mvn/version "0.4.5"}}}}

 :deps {clj.native-image {:git/url "https://github.com/taylorwood/clj.native-image.git"
                          :sha "602587dfb5243ea8c72ed3e967c37c1f9d611723"}
        clj-kondo {:mvn/version "2020.06.21"}
        com.bhauman/rebel-readline {:mvn/version "0.1.4"}
        jonase/eastwood {:mvn/version "0.3.11"}
        olical/depot {:mvn/version "2.0.1"}
        org.clojure/spec.alpha {:mvn/version "0.2.187"}
        org.clojure/spec-alpha2 {:git/url "https://github.com/clojure/spec-alpha2"
                                 :sha     "2f84e3a37cab76d44c58785ff4481597429bc1d3"}
        org.clojure/tools.namespace {:mvn/version "1.0.0"}
        seancorfield/clj-new {:mvn/version "1.0.199"}
        seancorfield/depstar {:mvn/version "1.0.94"}
        tvaughan/kibit-runner {:mvn/version "1.0.1"}}}
