
{:aliases {:cider-clj {:extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                                    cider/cider-nrepl {:mvn/version "0.44.0"}}
                       :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

           :cider-cljs {:extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                                     org.clojure/clojurescript {:mvn/version "1.10.339"}
                                     cider/cider-nrepl {:mvn/version "0.44.0"}
                                     cider/piggieback {:mvn/version "0.5.2"}}
                        :main-opts ["-m" "nrepl.cmdline" "--middleware"

                                    "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"]}
           :deps-graph
           ;; Generate SVG image of dependency graph in directory called `target`
           {:extra-deps {}
            thomasa/morpheus
            {:git/url "https://github.com/benedekfazekas/morpheus.git"
             :git/sha "6d7d8cc"}
            :main-opts
            ["-m" "thomasa.morpheus.main"
             "-d"  "graphs"
             "-f" "svg"
             "src" "test"]}
           :dev
           {io.github.djblue/portal {:mvn/version "0.56.0"}}
           ;; REPL-related tools:
           ;; - start Figwheel and/or Rebel Readline, with a socket REPL:
           ;;   - clj -M:portal:dev/repl OR clojure -M:rebel:portal:dev/repl
           ;;   - clojure -M:rebel:dev/repl
           ;;   - clojure -M:nrepl:dev/repl
           ;;   - clojure -M:fig:build:dev/repl
           :dev/repl {:jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
                      :extra-deps {io.github.seancorfield/dot-clojure
                                   {:git/tag "v1.0.2"
                                    :git/sha "6a3f903"}}
                      :main-opts ["-e" "((requiring-resolve 'org.corfield.dev.repl/start-repl))"]}
           ;; Native Image
           :native-image
           {:main-opts ["-m" "clj.native-image" "core"
                        "--initialize-at-build-time"
                                   ;; optional native image name override
                        "-H:Name=core"]
            :jvm-opts ["-Dclojure.compiler.direct-linking=true"]
            :extra-deps
            {clj.native-image/clj.native-image
             {:git/url "https://github.com/taylorwood/clj.native-image.git"
              :sha "7708e7fd4572459c81f6a6b8e44c96f41cdd92d4"}}}

           ;; New project or library
           :new {:extra-deps {com.github.seancorfield/clj-new {:mvn/version "1.2.404"}}
                 :exec-fn clj-new/create
                 :exec-args {:template "app"}}

           :rebel {:extra-deps {com.bhauman/rebel-readline {:mvn/version "RELEASE"}}
                   :main-opts  ["-m" "rebel-readline.main"]}}

 :deps {org.clojure/tools.namespace {:mvn/version "1.4.4"}}}
